<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.member.dao.MemberDao">
    <!--SELECT-->
    <select id="selectMemberList" parameterType="com.example.member.MemberVO" resultType="com.example.member.MemberVO">
        select * from st_member
    </select>
    
    
	<insert id="insertMemberOne" parameterType="memberVO">
		INSERT INTO ST_MEMBER
		( USR_ID
	 	, USR_PASS
	 	, USR_NAME
	 	, USR_ADDR
		)VALUES
		( #{usrId}
		, #{usrPass}
		, #{usrName}
		, #{usrAddr}
		)
	</insert>
    
    
</mapper>


