<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.example.member.dao.MemberDao">
    <!--SELECT-->
    <select id="selectMemberList" parameterType="com.example.member.MemberVO" resultType="com.example.member.MemberVO">
        select * from st_member
    </select>
    
    
	<!--INSERT-->
    <insert id="insertMemberOne" parameterType="memberVO">
		INSERT INTO ST_MEMBER
		( USR_ID
	 	, USR_PASS
	 	, USR_NAME
	 	, USR_ADDR
		)VALUES
		( #{usrId}
		, #{usrPass}
		, #{usrName}
		, #{usrAddr}
		)
	</insert>
    
    
    <select id="selectMemberOne" parameterType="com.example.member.MemberVO" resultType="com.example.member.MemberVO">
        SELECT 
	        MEMBER_SQL AS memberSql
	        , USR_ID AS usrId
		 	, USR_PASS AS usrPass
		 	, USR_NAME AS usrName
		 	, USR_ADDR AS usrAddr 
	 	FROM ST_MEMBER
	 	WHERE MEMBER_SQL = (SELECT MAX(MEMBER_SQL) FROM ST_MEMBER)
    </select>
    
    <select id="selectMemberLogin" parameterType="com.example.member.MemberVO" resultType="com.example.member.MemberVO">
        SELECT 
	        MEMBER_SQL AS memberSql
	        , USR_ID AS usrId
		 	, USR_PASS AS usrPass
		 	, USR_NAME AS usrName
		 	, USR_ADDR AS usrAddr 
	 	FROM ST_MEMBER
	 	WHERE USR_ID = #{usrId} AND USR_PASS = #{usrPass}
    </select>
    
    
    <select id="selectMember" parameterType="com.example.member.MemberVO" resultType="com.example.member.MemberVO">
        SELECT 
	        MEMBER_SQL AS memberSql
	        , USR_ID AS usrId
		 	, USR_PASS AS usrPass
		 	, USR_NAME AS usrName
		 	, USR_ADDR AS usrAddr 
		 	, USR_TKN AS usrTkn
	 	FROM ST_MEMBER
	 	WHERE USR_ID = #{usrId}
	 	AND USR_TKN = #{usrTkn} 
    </select>
    
    <update id="updateMemberOne" parameterType="memberVO">
		UPDATE ST_MEMBER SET
		USR_PASS = #{usrPass}
		WHERE MEMBER_SQL = #{memberSql}
	</update>
	
	<delete id="deleteMemberOne" parameterType="long">
		DELETE FROM ST_MEMBER 
		WHERE MEMBER_SQL = #{memberSql}
	</delete>
    
</mapper>


